body {
    background-image: url("bibliotheque5.jpg");
    background-size: cover;
}

.border{
    border-width: 3px;
    border-style: solid;
    border-radius: 75px;
    padding: 50px 10px 50px;
    border-color : gold;
    background-color: brown;
    width: 50%;
    margin:auto;

  }

h1 {
    text-align: center;
    color: gold;
    
}

.menu1 {
    border-width: 3px;
    border-style: solid;
    border-radius: 95px;
    padding: 0 10px 10px 100px;
    border-color : gold;
    background-color: brown;
    width: 80%;
    padding: 5px;
    margin:auto;
}

.menu2 {
    border-width: 3px;
    border-style: solid;
    border-radius: 95px;
    padding: 50px 10px 50px;
    border-color : gold;
    background-color: brown;
    width: 80%;
    padding: 5px;
    margin:auto;
}

.menu3 {
    border-width: 3px;
    border-style: solid;
    border-radius: 95px;
    padding: 50px 10px 50px;
    border-color : gold;
    background-color: brown;
    width: 80%;
    padding: 5px;
    margin:auto;
}